<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/progressively/dist/progressively.min.css">
</head>
<body>
  <div id="app">
      <figure class="progressive">
        <img class="progressive__img progressive--not-loaded" data-progressive="http://s.cn.bing.net/az/hprichbg/rb/ClaretCup_ZH-CN12198280078_800x480.jpg" src="http://s.cn.bing.net/az/hprichbg/rb/ClaretCup_ZH-CN12198280078_800x480.jpg">
      </figure>
  </div>
  <script src="../public/javascripts/flexible.js"></script>
  <script src="https://unpkg.com/progressively/dist/progressively.min.js"></script>
  <script>
    progressively.init()
  </script>
</body>
</html>
