mixin header
  meta(charset="UTF-8")
  meta(name="mobile-web-app-capable",content="yes")
  meta(name="apple-mobile-web-app-capable",content="yes")
  meta(name="apple-mobile-web-app-status-bar-style",content="black")
  meta(content="telephone=no,email=no",name="format-detection")
  meta(http-equiv="X-UA-Compatible",content="IE=Edge,Chrome=1")
  meta(name="renderer",content="webkit")
  meta(name="google-site-verification",content="fto43W1-4i099gqlMImLOannS1KjzlC5A-a1dnT0iVs")
  meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(rel="shortcut icon", href="/image/bing.png", type="image/x-icon")
  link(rel="stylesheet", href="/static/css/style.css")
  link(rel="stylesheet", href="https://at.alicdn.com/t/font_644324_nn5e28nziftj4i.css")
  link(rel="stylesheet", href="https://unpkg.com/progressively/dist/progressively.min.css")
  script(src="/static/js/flexible.js")
  script(src="https://unpkg.com/progressively/dist/progressively.min.js")
